.home-page {
  overflow-x: hidden;
}

.home-page > section {
  padding: 5rem 0;
}

.home-page > section:nth-child(even) {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .home-page > section {
    padding: 3rem 0;
  }
}
